.header {
    -fx-background-color: linear-gradient(to top, #ebebeb, #ffffff);
}

.titleText {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

.scroll {
    -fx-background-color: transparent;
}

.btn {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
    -fx-background-radius: 6px;
}

.btn:hover {
    -fx-background-color: #222222;
}

.profileBtn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-padding: 0 0 0 8;
}

.card {
    -fx-background-color: #ffffff;
    -fx-padding: 14px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: #e6e6e6;
}

.name {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.sub {
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
}