.header{
  -fx-background-color: linear-gradient(to top, #ebebeb, #FFFFFF);
}
.contentBox{
  -fx-padding: 20;
}
.card{
  -fx-padding: 15;
  -fx-background-color: white;
  -fx-border-color: #dddddd;
  -fx-background-radius: 10;
  -fx-border-radius: 10;
}
.name{
  -fx-font-size: 18px;
  -fx-font-weight: bold;
}
.sub{
  -fx-font-size: 14px;
  -fx-text-fill: #555555;
}
